<div class="col-12">
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">

      <span class="badge badge-primary mr-2"
            [ngClass]="{'badge-success' : !todo.done, 'badge-danger' : todo.done}"
            (click)="onToggle(todo)">
        {{todo.done ? 'Not done' : 'Done' }}
      </span>

      <span [class.done-true]="todo.done">  <!-- {{todo.text | uppercase}}-->
        {{todo.text}}
      </span>

    </li>
  </ul>

</div>

  <!--<table>
    <tr *ngFor="let todo of todos">
      <td [class.done-true]="todo.done">{{todo.text}}</td>
      <td>
        <button (click)="onToggle(todo)">
          {{todo.done ? 'Non Fatto' : 'Fatto' }}
        </button>
      </td>
    </tr>
  </table>-->

